/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


$blue: #1330bf;
.blue { background: $blue; }
.bluetext { color: $blue; }

$gray: #919191;
.gray { background: $gray; }
.graytext { color: $gray; }

$red: #d41010;
.red { background: $red; }
.redtext { color: $red; }


html {
	font-size: 100%;
}

body {
	background: #fcfcfc;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.35;
	margin: 1rem 0;
}

img { display: block; }

h1, h2, h3, h4 { font-weight: 800; }

h1 { font-size: 2.4rem; margin-bottom: 0; }
h2 { font-size: 1.6rem; margin:  .8rem 0; }
h3 { font-size: 1.2rem; margin:  .6rem 0; }
h4 { font-size: 1rem;   margin:  .5rem 0; }

p { font-size: 1rem; margin: 0 0 1rem 0; }

.print-only {
	display: none;
}

.printable-pdf {
	font-size: 1rem;
	font-weight: 400;
	line-height: 2.4rem !important;
	vertical-align: text-top;
}

.printable-pdf > a {
	vertical-align: text-top;
}

.guide,
.page-title {
	margin: 0 1rem;
	max-width: calc(100% - 2rem);
	width: 100%;
}

section,
.page-title {
	margin-bottom: 4rem;
}

.grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page-title > *,
.instructions {
	padding: 0 .5rem;
}

.grid-box {
	flex: 1 1 0;
	padding: 0 .5rem;
}

.grid-box > p {
	margin: 0 0 .25rem 0;
}

.color {
	height: 4rem;
	margin-bottom: .25rem;
}

.grid-box > p > .label {
	color: #999;
	display: inline-block;
	text-transform: uppercase;
	width: 3rem;
}

.subtle {
	color: #999;
	font-size: .8rem;
	margin-top: .2rem;
}

.logos img {
	height: auto;
	margin: 0 auto;
	width: 80%;
}

.download-button {
	display: block;
	line-height: 2.25rem;
}

.download-button > a {
	background: #eee;
	color: #1330bf;
	border-radius: .25rem;
	padding: .25rem .5rem;
	text-decoration: none;
}

.download-button > a:hover {
	background: #1330bf;
	color: #fff;
}

.page-footer {
	border-top: 2px solid #ddd;
	padding: .5rem;
}

.contact-us {
	margin: 2rem 0 0 0;
}





@media (min-width: 450px) {
	
	.download-button {
		display: inline-block;
	}
		
}





@media (min-width: 600px) {
	
	.guide {
		margin: 0 auto;
		max-width: 960px;
	}
	
	.page-title {
		margin: 0 auto 4rem auto;
		max-width: 960px;
	}
	
	.grid {
		flex-direction: row;
	}
}





@media print {
	
	body { background: none; margin-top: 0; margin-bottom: 0; }
	
	section { margin-bottom: 1.5rem; }
	
	.page-title { margin-bottom: 2.5rem; }
	
	.contact-us { margin: 1.5rem 0 0 0; }
	
	h1 { font-size: 2.2rem; margin-bottom: 0; }
	h2 { font-size: 1.2rem; margin:  0; }
	h3 { font-size: 1rem; margin:  0 0 .25rem 0; }
	h4 { font-size: .9rem;   margin:  0 0 .2rem 0; }

	p { font-size: .8rem; margin: 0 0 .8rem 0; }
	
	.download-button,
	.download-text { 
		display: none;
	}
	
	.print-only { display: block; }
	
	.print-page-url {
		color: #666;
		font-size: .8rem;
		font-weight: 400;
	}
	
}
